{% extends 'base.html' %}

{% block content %}

<section class="bg-light text-light text-center shadow">
    <div class="container p-5 bg-light">
        <div class="row">
            <div class="d-md-flex bg-light text-dark align-items-center justify-content-evenly margin-top">
                <h1 class="col text-center"><br>Your German dictionary</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/GermanDict.jpeg" class="img-fluid p-4" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}